
.md-nav__link {
  display: block ruby;
}

figcaption {
  font-size: 10pt !important;
  font-style: normal !important;
  margin: -0.75em auto 1em auto !important;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
    color: #aaa;
    content: " \f08e";
    font-family: 'FontAwesome';
    font-size: x-small;
    vertical-align: super;
}

.green {
  color: var(--md-primary-fg-color--dark);
}
.red {
  color: var(--md-code-hl-number-color);
}

.md-typeset table:not(.striped) tbody tr:hover {
  background-color: transparent;
}
.md-typeset table img {
  border: #ccc 1px dotted;
}
.md-typeset h2 {
  min-height: 1.5em;
}


.typewriter {
  text-align: left;
  background-color: #333d29;
  border-radius: 9px;
  color: #c2c5aa;
  padding: 200px 0 200px 20%;
  margin: 3rem 0;
}
.typewriter code {
  background-color: #fff;
  color: #333;
}
.typewriter h2 {
  text-align: left;
}


blink {
  animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
  0%   {    color: #c2c5aa;     }
  49%  {    color: transparent; }
  50%  {    color: transparent; }
  99%  {    color:transparent;  }
  100% {    color: #c2c5aa;     }
}

hr {
  margin: 3rem 0 !important;
}
